require 'cloudformer'
require 'json'


# SAMPLE with custom config
# STACK_NAME=xxx AWS_ACCESS_KEY=xxx AWS_SECRET_ACCCESS_KEY=xxx REGION=xxx CF_TEMPLATE=xxx.json CF_PARAM_ClusterSize=xxx CF_PARAM_SSLCertName=xxx rake -T

def load_aws_profile profile_name
  file_path = File.expand_path("~/.aws/keys.json")
  throw "Error: AWS config is not present! at #{file_path}" unless File.exists? file_path

  file = File.read(file_path)
  aws_config = JSON.parse(file)[profile_name]
  throw "AWS Profile does not exist: #{profile_name}" if aws_config.empty?
  aws_config
end

aws_profile_name = ENV["AWS_PROFILE"]
puts '##' + '-'*74 + '##'

puts "Running AWS Cloud Formation for profile #{aws_profile_name} tasks with following configuration"

aws_profile = load_aws_profile(aws_profile_name)
puts "PROFILE: #{aws_profile}"

aws_config = {
              stack_name: ENV['STACK_NAME'],
              aws_access_key: aws_profile['AWS_ACCESS_KEY'],
              aws_access_secret_key: aws_profile['AWS_SECRET_ACCESS_KEY'],
              region: ENV['REGION'],
              template: ENV['CF_TEMPLATE']
            }

aws_cf_params= {}
ENV.select{|k,v| k.start_with?('CF_PARAM') }.each do |k,v|
  key = k.gsub("CF_PARAM_","")
  aws_cf_params[key] = v
end

puts "AWS_CONFIG: #{aws_config}"
puts "CF_PARAMS: #{aws_cf_params}"

puts '##' + '-'*74 + '##'


Cloudformer::Tasks.new(aws_config) do |t, args|
  t.template = aws_config[:template]
  t.parameters = aws_cf_params
  t.disable_rollback = true
  t.capabilities=[]
end
